<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Empregos</li>
  </ol>
</nav>
<div class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Departamentos">
      <app-department></app-department>
    </mat-tab>
    <mat-tab label="Empregos">
      <app-job></app-job>
    </mat-tab>
    <mat-tab label="Empregados">
      <app-employee></app-employee>
    </mat-tab>
    <mat-tab label="Histórico de Empregos">
      <app-job-history></app-job-history>
    </mat-tab>
  </mat-tab-group>
</div>
